# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://<user>:<password>@<domain>:5432/<dbname>"
JWT_SECRECT=change_this_secret
NEXT_PUBLIC_GITHUB_ACCESS_TOKEN=add_your_github_persona_token